@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);
}
body{
    background: var(--Light-gray);
    font-family:"Outfit", sans-serif;
    Font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 1px);
    margin: 1.25rem;
}
.container{
    background: var(--White);
    padding: 1.25rem;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.05);
    margin-bottom: 2rem;
}
img{
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 1rem;
}
.container h1{
    color: var(--Dark-blue);
    margin-bottom: 1rem;
    text-align: center;
}
.container p{
    text-align: center; 
    color: var(--Grayish-blue);
}
.atribution{
    font-size: 12px;
    text-align: center;
}

.atribution a{
    color: blue;
}

@media (min-width:500px){
    .container{
        width: 400px;
    }
} 